
<div class="card" >
  <p-toast />
    <div class="grid -mt-3 -ml-3 -mr-3">
    <div
      class="col-12 md:col-6 lg:col-4"
      *ngFor="let book of booksResponse.content"
    >
      <div class="p-2">
        <div class="shadow-2 p-4 surface-card border-round">
          <div class="relative mb-3">
            <img [src]="getBookCover(book)" class="w-full" />
          </div>
          <div class="flex justify-content-between align-items-center mb-3">
            <span class="text-900 font-medium text-xl">{{ book.title }}</span>
            <span>
                <app-rating-stars [rating]="book.rate || 0"></app-rating-stars>
              <span class="font-medium">{{ book.rate }}</span>
            </span>
          </div>
          <div class="flex justify-content-between align-items-center mb-3">
            <span class="text-900 font-medium text-xl">{{ book.isbn }}</span>
          </div>
          <div class="flex justify-content-between align-items-center mb-3">
            <span class="text-900 font-medium text-xl">{{ book.owner }}</span>
          </div>
          <p class="mt-0 mb-3 text-700 line-height-3">
            {{ book.isbn }}
          </p>
        
            <div class="flex flex-wrap gap-2" *ngIf="!isManaged">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-info-circle"
                class="p-button-rounded p-button-outlined"
                (click)="onShowDetails()"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-list-check"
                class="p-button-rounded p-button-secondary p-button-outlined"
                (click)="onBorrow(book)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-heart"
                class="p-button-rounded p-button-success p-button-outlined"
                (click)="onAddToWaitingList()"
              ></button>
            </div>
              <div class="flex flex-wrap gap-2 "  *ngIf="isManaged">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pen-to-square"
                  class="p-button-rounded p-button-info p-button-outlined"
                  (click)="onEdit()"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-share-alt"
                  class="p-button-rounded p-button-warning p-button-outlined"
                  (click)="onShare()"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"   
                  class="p-button-rounded p-button-help p-button-outlined"
                  (click)="onArchive()"
                ></button>
              </div>
            </div>
       
        </div>
      </div>
    </div>
  </div>

